- model_class = Fp7Contractor
.page-header
	%h2=@fp7_project.project_acronym
	%smaller=@fp7_project.project_title
	%p
		(
		=@fp7_project.rcn
		)
%table.table.table-bordered
	%tr
		%th Organisation
		%th Ansprechpartner
		%th Adresse
		%th www
	-@fp7_contractors.each do |fp7_contractor|
		%tr
			%td
				.organization
					%strong= fp7_contractor.organization_name
					,
					= fp7_contractor.organization_department
					(
					= fp7_contractor.organization_acronym
					)
			%td
				%em.person
					= fp7_contractor.contact_title
					= fp7_contractor.contact_name
					= fp7_contractor.contact_surname
			%td
				.address
					.street= fp7_contractor.address
					.city
						= fp7_contractor.post_code || fp7_contractor.po_box
						= fp7_contractor.city
					.country= fp7_contractor.country
			%td
				.www= fp7_contractor.organization_website